.button {
    padding: 20px;
    border-radius: 12px;
  font-family: var(--font-family-primary);
  font-weight: 500;
  background-color: var(--primary-main);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover{
  background-color: var(--color-primary-900)
}