.landingPage {
  background-color: #ecf4e9;
  min-height: 100vh;
  display: flex;
}

.sideBarMenu {
  /* gap: 40px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 20px;
  background-color: #ecf4e9;
}

.logo {
  margin: 0px 30px;
  height: 40px;
  width: auto;
  object-fit: contain;
}

.nav-link,
.nav-link * {
  text-decoration: none !important;
}

.colorBlack {
  color: black;
}

.colored {
  margin: 0; /* default margin hata dein */
  line-height: 1;
  text-decoration: none;
  color: #537959;
}

.colorBlack {
  margin: 0; /* default margin hata dein */
  line-height: 1;
  text-decoration: none;
  color: black;
}

.sideBarMenuItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  border-radius: 28px;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  color: #000;
  width: 100%;
  cursor: pointer;
}

.sideBarMenuItem:hover {
  background-color: #bdf39a50;
  text-decoration: none;
  border-radius: 30px;
}

.sideBarMenuItem-active {
  background-color: #bdf39a;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  border-radius: 28px;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  color: #000;
  width: 100%;
  cursor: pointer;
}

.icon {
  vertical-align: middle;
  margin: 0% !important;
  height: 16px !important;
  width: 16px !important;
  object-fit: contain;
}

.mainPage {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  
}
