.input-field {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 0.3rem;
}

.input-field label {
  margin-bottom: 0.4rem;
  font-size: 0.95rem;
  color: var(--color-heading);
}

.input-field input {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-color: #A2A1A833;
  border-radius: 6px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.input-field input:focus {
  outline: none;
  border-color: var(--color-primary-500);
}
