.auth-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100vw;
  background-color: var(--backGroundColor--auth);
}

.auth-layout .col-6 {
  height: 100%;
}
.field-in-row{
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.auth-page{
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    height: 100%;
    width: 100%;
}

.auth-page img{
    height: 70px;
    width: auto;
    object-fit: contain;

}

.auth-form {
  flex: 1;
  height: 100%;
  background-color: var(--backGroundColor--auth);
  padding: 2rem;
  box-sizing: border-box;
}
.auth-pic {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.auth-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
